<!--
/**
 * This file is part of the Sample_CheckoutCheckbox package.
 *
 * @copyright Copyright (c) 2025 Nurs
 * @author    Nurs
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="sample_checkbox_sales_model_service_quote_submit_before"
                  instance="Sample\CheckoutCheckbox\Observer\CopyCheckboxFromQuoteToOrder"/>
    </event>
</config>
