<?xml version="1.0"?>
<!--
/**
 * This file is part of the Sample_CheckoutCheckbox package.
 *
 * @copyright Copyright (c) 2025 Nurs
 * @author    Nurs
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="save_sample_checkbox_on_quote" type="Sample\CheckoutCheckbox\Plugin\SaveSampleCheckboxOnQuote"/>
    </type>
</config>
